body{font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;}

/* header styles */
.page-header{
    background-color:#FFFFFF;
    left: 0px;
    top: 0px;
}
.logo{

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height:1.3;
letter-spacing: 0.03em;

color: #2196F3;}
.studio{
    color: #000;}

.contact_list{
position: absolute;}
.link{text-decoration: none;}
.list{list-style:none;}
.navigationstudio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #2196F3;}
.navigation{
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;

color: #212121s}
.navigation:hover{
color:#2196F3}

.navigationstudio:hover{
    color:#2196F3}
.email_link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: #2196F3;}
    .email_link:hover{
        color: aqua;
       }
       .email.link:focus{
       color: chocolate;    
       }
.phone{
font-weight: 500;
font-size: 14px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #757575;}
.phone:hover{
    color:#2196F3;
   }
   .phone:focus{
   color: chocolate;
   }

.hidden_title{
    display: none;
  }

.link{text-decoration: none;}
.list{list-style:none;}

/*Footer styles */
.footer{
    background: #2F303A;
    width: 1600px;
    }
    .address{
        font-style: normal;}
    .footer_web{
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: #2196F3;
    }
    .footer_studio_logo{
        color:#FFFFFF;   
    }
    .location{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        
        letter-spacing: 0.03em;
        
        color: #FFFFFF; 
    }
    .location:hover{
    color: #2196F3;
    }
    .footer_email{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);  
    }
    .footer_email:hover{
     color: #2196F3;   
    }
    .footer_phone{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);
    }
    .footer_phone:hover{
        color:#2196F3;
    }
    .button{
        font-size: 16px;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        background:#F5F4FA;
        color:
 #212121;
        box-shadow:cornsilk;
        border-radius: 4px;}
      
      .button:hover{
        color:#F5F4FA;
        background-color: #2196F3;}

        /* Main styles */

        .portfolio_header{
        display: none;}

        .header2{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            /* identical to box height, or 200% */
            
            letter-spacing: 0.06em;
            
            color: #212121;   
        }
      .list_item{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
        
        letter-spacing: 0.03em;
        
        color: #757575;
      }
    